.paper-feedback {
  position: relative; 
  width: 75%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: 60px;
}

.star-rating-container {
  display: flex; 
  justify-content: center; 
  gap: clamp(10px, 2vw, 30px); 
  margin-left: 90px;
  margin-top: -8px;
}
#feedBtn {
  bottom: 2%; 
  left: 90%;
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 5vw, 40px);
  
}
